.circle {
  position: absolute;
  width: 56.688rem;
  height: 56.688rem;
  padding: 4.875rem;
  background-color: rgba(254, 254, 254, 0.45);
  box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.13);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -7.125rem;
  z-index: 1;
}

@mixin circle($col, $bs, $pd) {
  width: 100%;
  height: 100%;
  padding: $pd;
  background-color: $col;
  box-shadow: 0px 0px 42px $bs;
  border-radius: 50%;
  left: 0;
  right: 0;
  position: relative;
}

@each $num, $col, $bs, $pd in (3, rgba(251, 248, 248, 0.45), rgba(231, 231, 231, 0.36), 4.375rem),
  (2, rgba(254, 254, 254, 0.54), rgba(231, 231, 231, 0.11), 4.688rem),
  (1, rgba(255, 255, 255, 0.54), rgba(231, 231, 231, 0.43), 0)
{
  .circle__#{$num} {
    @include circle($col, $bs, $pd);
  }
}

.circle__img {
  width: 150px;
  margin: 0 auto;
  padding-top: 3.125rem;
}

.circle__text {
  position: absolute;
  text-align: center;
  bottom: 15.438rem;
  font-family: 'Exo 2';
  font-style: normal;
  z-index: 2;
}

.circle__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.4px;
  color: #2a74db;
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.circle__descr {
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.813rem;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000000;
}

.main-sm {
  //padding-top: 8%;
}

.sm-form {
  margin: auto;
  max-width: 39.5rem;
  margin-top: 8%;
  padding: 4.5rem 7.25rem 5rem;
  @media (max-width: 768px) {
    max-width: auto;
    padding: 4.5rem 12% 5rem;
  }
  @media (max-width: 420px) {
    margin-top: 20%;
  }
}

.sm-form__title {
  width: 100%;
  font-family: 'Exo 2';
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.125rem;
  text-align: left;
  padding-bottom: 2.625rem;
  color: #002396;
}

.sm-form__title_dark {
  color: rgba(1, 19, 78, 1);
}

.sm-form__content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sm-form__pass-help {
  width: 100%;
  padding: 0.875rem 0 0.938rem;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  a {
    color: #222428;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #002396;
  }
}

.confirm {
  padding: 2.313rem 0 1.438rem;
  li {
    list-style-type: none;
    padding-bottom: 1.438rem;
  }
  li:last-child {
    padding-bottom: 0;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
  }
}

.confirm__lable {
  display: block;
  position: relative;
  padding-left: 2.188rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1rem;
  letter-spacing: 0.28px;
  a {
    font-weight: 500;
    text-decoration: none;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.563rem;
    width: 1.563rem;
    border: 2px solid #f2f2f2;
    border-radius: 2px;
  }

  input:checked ~ .checkmark {
    background-color: rgba(245, 247, 250, 0.5);
  }
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 0.438rem;
    top: 0.063rem;
    width: 0.313rem;
    height: 0.75rem;
    border: solid #0ad69c;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.g-recaptcha {
  margin-bottom: -1.563rem;
  transform: scale(0.692);
  transform-origin: 0;
  -webkit-transform: scale(0.692);
  transform: scale(0.692);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.pass-indicator {
  height: 0.375rem;
  display: flex;
  width: 100%;
  justify-content: inherit;
  margin: 0.438rem 0 22px;
  & span {
    flex-grow: 1;
    max-width: 32%;
    border-radius: 2px;
    background: #ebeff3;
  }
  & .pass-indicator__red {
    background: #ff6359;
  }
  & .pass-indicator__orange {
    background: #ffb966;
  }
  & .pass-indicator__green {
    background: #38ecac;
  }
}
