{% set question = 'Back to' %}
{% set offer = 'Sign in' %}
{% set title = 'Almost ready' %}
{% extends 'base.html' %}
{% block content %} 
<div class="content">
  <div class="circle">
    <div class="circle__3">
      <div class="circle__text">
        <div class="circle__title">You are almost ready to go!</div>
        <div class="circle__descr">Please check your email to reset your password</div>
      </div>
      <div class="circle__2">
        <div class="circle__1">
          <div class="circle__img">
            <img src="/img/email.svg" alt="email" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
