{% set title = 'Home' %} {% extends 'base.html' %} {% block content %}

<div class="content">
  <div class="page-list">
    <ul>
      <li><a href="./sign-in.html">Sign in 1.1</a></li>
      <li><a href="./enter-email.html">Password recovery</a></li>
      <li><a href="./almost-ready.html">Password recovery 2</a></li>
      <li><a href="./resset-pass.html">Password recovery 3</a></li>
      <li><a href="./sign-up.html">Sign up 1</a></li>
      <li><a href="./sign-up-2.html">Sign up 2</a></li>
      <li><a href="./sign-up-3.html">Sign up 3</a></li>
      <li><a href="./sign-up-4.html">Sign up 4</a></li>
      <li><a href="./sign-up-5.html">Sign up 5</a></li>
      <li><a href="./sign-up-6.html">Sign up 6</a></li>
      <li><a href="./profile-1.html">Profile 1</a></li>
      <li><a href="./profile-2.html">Profile 2</a></li>
      <li><a href="./search-1.html">Search 1</a></li>
      <li><a href="./search-2.html">Search 2</a></li>
      <li><a href="./admin.html">Admin-zone</a></li>
    </ul>
  </div>
</div>

{% endblock %}
