{% set question = 'Do not have an account?' %}
{% set offer = 'Sign up' %}
{% set title = 'Reset pass' %}
{% extends 'base.html' %}
{% block content %}  

<div class="content">
  <form action="#" class="form sm-form">
    <div class="sm-form__content">
      <div class="sm-form__title">Reset your password</div>
      <input type="password" class="input-base" placeholder="New password" />
      <input type="password" class="input-base" placeholder="Confirm password" />
      <button class="btn btn_todown"">Reset</button>
    </div>
  </form>
</div>

{% endblock %}