<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/lightpick@latest/css/lightpick.css">
  <script async src="https://maps.googleapis.com/maps/api/js?key={{globals.googleKey}}"> defer</script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>Table</title>
</head>

<body>

  <div class="wrapper grid-2col">

    <header class="header admin-header">
      <div class="header-row">
        <div class="logomenu-wrapp">
          <div class="header__burger">
            <span></span>
          </div>
          <div class="logo logo-sm">
            <a href="/">
              <img src="/img/logo.svg" alt="myFixer logo" />
            </a>
          </div>

        </div>
        <div class="breadcrumbs">
          <a href="/" class="breadcrums-element">Home</a>
          <a href="# class=" breadcrums-element">Manage users</a>
        </div>
        <div class="header__profile">
          <div class="header__avatar">
            <img src="/img/cards-photo/header-face.png" alt="avatar">
          </div>
          <details class="profile-detalis">
            <summary class="profile-detalis__summary">Sarah Freeman</summary>
            <p>Some info in future.</p>
          </details>
        </div>
      </div>
    </header>







    <aside class="sidebar">
      <div class="wrapper-column">
        <div class="sidebar-logo"><a href="/"></a><img src="/img/logo-light.svg" alt="myFixer logo"></a></div>
        <nav class="sidebar-menu">
          <div class="sidebar-menu__item sidebar-menu__item_active"><a href="#"><img src="/img/sidebar/people.svg"
                alt="group people"></a></div>
        </nav>
      </div>
    </aside>
    <main class="main main-lg">
      <div class="content">
        <section class="form lg-form">
          <div class="admin-block">
            <div class="search-table">
              <span class="search-table__ico"><img src="/img/search-icon.svg" alt="search-icon"></span>
              <input type="text" class="search-table__input" placeholder="Type here to search...">
            </div>
            <div class="wrap-table-admin">


              <div class="thegrid">
                <!-- [HEAD] -->
                <div class="thegrid__head thegrid__first">FIRST NAME</div>
                <div class="thegrid__head">LAST NAME</div>
                <div class="thegrid__head">COUNTRY</div>
                <div class="thegrid__head">STATUS</div>
                <div class="thegrid__head">LEVEL</div>
                <div class="thegrid__head">E-MAIL</div>
                <div class="thegrid__head thegrid__close"></div>
                <!-- [ROWS] -->

                {% for user in usersArr %}
                <div class="thegrid__cell"><a href="/profile-1/{{user.id}}">{{user.fname}}</a></div>
                <div class="thegrid__cell">{{user.lname}}</div>
                <div class="thegrid__cell">{{user.country}}</div>
                <div class="thegrid__cell">
                  {% if user.isRequested %}
                  Requested
                  {% else %}
                  –––––––
                  {% endif %}
                </div>
                <div class="thegrid__cell">
                  <select name="level" class="thegrid-select">
                    <option value="">{{user.name}}</option>
                    {% for category in categoriesArr %}
                    <option value="">{{category.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="thegrid__cell">{{user.email}}</div>
                <div class="thegrid__cell thegrid__close">
                  <p  data="{{user.id}}">&#10006;</p>
                </div>
                {% else %}
                <p><br><br>List of users is empty in database. You can  <a href="/create-user"><b>add it</b></a></p> 
                {% endfor %}




                <!--                <div class="thegrid__cell">Richard</div>
                <div class="thegrid__cell">Richard</div>
                <div class="thegrid__cell">Australia</div>
                <div class="thegrid__cell">Requested</div>
                <div class="thegrid__cell">
                  <select name="level" class="thegrid-select">
                    <option value="">Gold</option>
                    <option value="">Silver</option>
                    <option value="">Bronze</option>
                  </select></div>
                <div class="thegrid__cell">rfrome@gmail.com</div>
                <div class="thegrid__cell thegrid__close"><p>&#10006;</p></div>

                -->

              </div>
            </div>

          </div>
      </div>
      </section>
  </div>
  </main>
  </div>
  <footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://unpkg.com/lightpick@latest/lightpick.js"></script>
    <script src="/src/script.js" defer></script>

  </footer>
</body>
<script src="/src/deleteUser.js"></script>

</html>