{% set question = 'Already have an account?' %}
{% set offer = 'Log In' %}
{% set title = 'Sign up' %}
{% extends './components/base.html' %}
{% block content %}  

<div class="content">
    <form action="#" class="form sm-form">
        <div class="sm-form__content">
          <div class="sm-form__title">Create new user</div>
          <input type="text" class="input-base input-base_sm" name="fname" placeholder="First name" />
          <input type="text" class="input-base input-base_sm" name="lname" placeholder="Last name" />
          <input type="text" class="input-base" name="email" placeholder="Email" />
      
            <select class="select-base" style="margin-top: 23px">
              <option value='1'>Junior</option>
              <option value='2'>Middle</option>
              <option value='3'>Senior</option>
              <option value='4'>Company manager</option>
              <option value='5'>JS creator</option>
            </select>

          <button class="btn btn_todown">Create</button>
        </div>
      </form>
</div>

{% endblock %}