{% set title = 'Home' %} {% extends './components/base.html' %} {% block content %}

<div class="content">
  <div class="page-list">
    
    <div style="border: 2px solid blue; padding: 10px;">
      <h2 style="font-size: 2rem; padding-bottom: 10px;">DB use example:</h2>
    <ul>
      <li><a href="./create-form"><b>Create new users</b></a></li>
      <li><a href="./admin"><b>View all users with the option to delete</b></a></li>
      <li><a href="./profile-1/1"><b>View one user by id</b></a></li>
    </ul>
  </div>
    </br>

    <ul>
      <li><a href="./sign-1">Sign in 1.1</a></li>
      <li><a href="./sign-2">Password recovery</a></li>
      <li><a href="./sign-3">Password recovery 2</a></li>
      <li><a href="./sign-4">Password recovery 3</a></li>
      <li><a href="./sign-up-1">Sign up 1</a></li>
      <li><a href="./sign-up-2">Sign up 2</a></li>
      <li><a href="./sign-up-3">Sign up 3</a></li>
      <li><a href="./sign-up-4">Sign up 4</a></li>
      <li><a href="./sign-up-5">Sign up 5</a></li>
      <li><a href="./sign-up-6">Sign up 6</a></li>
      <li><a href="./profile-1/1">Profile 1</a></li>
      <li><a href="./profile-2">Profile 2</a></li>
      <li><a href="./search-1">Search 1</a></li>
      <li><a href="./search-2">Search 2</a></li>
      <li><a href="./admin">Admin-zone</a></li>
    </ul>
  </div>
</div>

{% endblock %}