{% extends './components/adm-base.html' %}
{% block content %} 
<main class="main main-lg">
  <div class="content">
    <section class="form lg-form">
      <div class="card">
        <div class="card-title">
          <h2 class="card-title__link card-title__link_active">PERSONAL
            INFORMATION</h2>
          <h2 class="card-title__link"><a href="/profile-2">ACCOUNT INFORMATION</a></h2>
        </div>
        <div class="card__content">
          <div class="profphoto-wrapp">
            <div class="profphoto-wrapp__img">
              <img src="/img/profile.jpg" alt="Profile photo">
              <div class="profphoto-wrapp__change">
                <p><span class="profphoto-wrapp__pen">&#9999;</span> Change
                  photo</p>
              </div>
            </div>
          </div>
          <div class="fields-block">

            <div class="admin-field fields-block__item">
              <h3 class="card__input-title">First name</h3>
              <input type="text" class="input-base" value="{{userName.fname}}" />
            </div>

            <div class="admin-field fields-block__item">
              <h3 class="card__input-title">Last name</h3>
              <input type="text" class="input-base" value="{{userName.lname}}" />
            </div>

            <div class="admin-field fields-block__item">
              <h3 class="card__input-title">Gender</h3>
              <div class="custom-select">
                <select id="gender" tabindex="1">
                  <option>Mr</option>
                  <option>Ms</option>
                  <option>Girl</option>
                  <option>Boy</option>
                  <option>Other</option>
                </select>
              </div>

            </div>

            <div class="admin-field fields-block__item">
              <h3 class="card__input-title">MOBILE PHONE</h3>
              <div class="phone-block">
                <div class="phone-block__code">
                  <select class="select-base admin-field__code
                        select-with-img">
                    <option id="turk" data-thumbnail="/img/flag-turkey.png"></option>
                    <option id="ukr" data-thumbnail="/img/flag-ukr.png"></option>
                    <option id="eg" data-thumbnail="/img/flag-eg.png"></option>
                  </select>
                  <div class="lang-select">
                    <button class="btn-select" tabindex="1" value=""></button>
                    <div class="b">
                      <ul id="a"></ul>
                    </div>
                  </div>
                </div>
                <input type="text" class="input-base admin-field__phone" value="+65" />
              </div>
            </div>

            <div class="admin-field fields-block__item">
              <h3 class="card__input-title">COUNTRY</h3>
              <div class="custom-select country-selector" tabindex="1">
                <select class="select-base">
                  <option></option>
                  <option>Ukraine</option>
                  <option>Turkey</option>
                  <option>Egypt</option>
                </select>
              </div>
            </div>

            <div class="admin-field fields-block__item">
              <h3 class="card__input-title">CATEGORY</h3>
              <input type="text" class="input-base" value={{ categoryName }} />
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}