{% extends './components/adm-base.html' %}
{% block content %} 
    <main class="main main-lg">
      <div class="content">
        <section class="form lg-form">
          <div class="card">
            <div class="card__content">
              <div class="block-narrow">
                <div class="admin-field">
                  <h3 class="card__input-title">LOCATION</h3>
                  <div class="custom-select country-selector" tabindex="1">
                    <select class="select-base">
                      <option></option>
                      <option>Ukraine</option>
                      <option>Turkey</option>
                      <option>Egypt</option>
                    </select>
                  </div>
                </div>

                <div class="admin-field">
                  <h3 class="card__input-title">SEARCH</h3>
                  <input type="text" class="input-base" placeholder="Type your query..." tabindex="1" />
                </div>

                <div class="admin-field">
                  <h3 class="card__input-title">Category</h3>
                  <div class="custom-select" tabindex="1">
                    <select>
                      <option>Category</option>
                      <option>Item 1</option>
                      <option>Item 2</option>
                      <option>Item 3</option>
                    </select>
                  </div>
                </div>

                <div class="admin-field">
                  <h3 class="card__input-title">SERVICE</h3>
                  <div class="custom-select" tabindex="1">
                    <select>
                      <option>3 services</option>
                      <option>Item 1</option>
                      <option>Item 2</option>
                      <option>Item 3</option>
                    </select>
                  </div>
                </div>
                <div class="admin-field">
                  <h3 class="card__input-title">PERIOD</h3>
                  <span class="calendar-icon"></span>
                  <input type="text" class="date-base" id="datepicker" autocomplete="off" tabindex="1" />
                </div>
                <button class="btn btn_lg">SEARCH</button>
              </div>
              <div class="result-block">
                <div class="result-block__head">
                  <a href="/search-2" class="card__link">
                    SHOW MAP
                  </a>
                  <div class="people-bloc_icons">
                    <div class="signal">
                      <img src="/img/signal.svg" alt="Signal level">
                    </div>
                    <div class="sort">
                      <label class="container">by price
                        <input type="radio" checked="checed" name="filter-people" value="pricing">
                        <span class="checkmark"></span>
                      </label>

                      <label class="container">by rating
                        <input type="radio" name="filter-people" value="rating">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="people-cards">
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-1.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-2.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-3.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-bronze.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-4.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-5.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-5.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-silver.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-5.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-5.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-5.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                  <div class="card-one">
                    <div class="card-one__photo"><img src="/img/cards-photo/face-5.png" alt="Nane"></div>
                    <div class="card-one__text">
                      <h3 class="card-one__name">Richard Thompson <span class="icon-star"><img
                            src="/img/stars-icon/star-gold.svg" alt="High rating"></span></h3>
                      <p class="card-one__location">Vancouver, Canada</p>
                      <p class="card-one__stack"><span class="card-one__line-name">Stack:</span> Python, Django, Sketch
                        <a href="#">More</a>
                      </p>
                      <p class="card-one__rate"><span class="card-one__line-name"> Base Daily Rate:</span> $ 1,200 USD
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {% endblock %}
