{% extends './components/adm-base.html' %}
{% block content %} 
    <main class="main main-lg">
      <div class="content">
        <section class="form lg-form">
          <div class="card">
            <div class="card__content">
              <div class="block-narrow">
                <div class="admin-field">
                  <h3 class="card__input-title">LOCATION</h3>
                  <div class="custom-select country-selector" tabindex="1">
                    <select class="select-base">
                      <option></option>
                      <option>Ukraine</option>
                      <option>Turkey</option>
                      <option>Egypt</option>
                    </select>
                  </div>
                </div>

                <div class="admin-field">
                  <h3 class="card__input-title">SEARCH</h3>
                  <input type="text" class="input-base" placeholder="Type your query..." tabindex="1" />
                </div>

                <div class="admin-field">
                  <h3 class="card__input-title">Category</h3>
                  <div class="custom-select" tabindex="1">
                    <select>
                      <option>Category</option>
                      <option>Item 1</option>
                      <option>Item 2</option>
                      <option>Item 3</option>
                    </select>
                  </div>
                </div>

                <div class="admin-field">
                  <h3 class="card__input-title">SERVICE</h3>
                  <div class="custom-select" tabindex="1">
                    <select>
                      <option>3 services</option>
                      <option>Item 1</option>
                      <option>Item 2</option>
                      <option>Item 3</option>
                    </select>
                  </div>
                </div>
                <div class="admin-field">
                  <h3 class="card__input-title">PERIOD</h3>
                  <span class="calendar-icon"></span>
                  <input type="text" class="date-base" id="datepicker" autocomplete="off" tabindex="1" />
                </div>
                <button class="btn btn_lg">SEARCH</button>
              </div>
              <div class="result-block map-block">
                <div class="result-block__head">
                  <a href="/search-1" class="card__link">
                    SHOW RESULT
                  </a>
                </div>
                <div id="map"></div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </main>
    {% endblock %}