<header class="header admin-header">
  <div class="header-row">
    <div class="logomenu-wrapp">
      <div class="header__burger">
        <span></span>
      </div>
      <div class="logo logo-sm">
        <a href="/">
          <img src="/img/logo.svg" alt="myFixer logo" />
        </a>
      </div>

    </div>

    <div class="breadcrumbs">
      <a href="/" class="breadcrums-element">Home</a>
      <a href="# class=" breadcrums-element">My profile</a>
    </div>
    <details class="profile-detalis">
      <summary class="profile-detalis__summary">Faruh Bernandez</summary>
      <p>Some info and links.</p>
    </details>
  </div>
</header>