@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 !important; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.header {
  position: relative;
  width: 100%;
  padding: 1.25rem 8.563rem 0 8.813rem;
  z-index: 2; }
  @media (max-width: 996px) {
    .header {
      padding: 20px; } }

.header-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.logo {
  width: 138px; }

.logo-sm {
  flex-basis: 5rem; }
  @media (max-width: 768px) {
    .logo-sm {
      display: block; } }

.logo img {
  max-width: 100%; }

.sign-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.25rem;
  letter-spacing: 0.28px;
  color: #222428;
  margin-left: auto; }
  .sign-link a {
    font-weight: 700;
    color: #062fb3;
    text-decoration: none; }

.breadcrumbs {
  font-size: 0.8125em;
  line-height: 1.4375em;
  letter-spacing: 0.7px; }
  .breadcrumbs a {
    color: #252f48;
    margin-right: 0.625em; }
  .breadcrumbs ::after {
    content: url(/img/separator.svg);
    margin-left: 0.9375em; }
  .breadcrumbs :last-child {
    pointer-events: none;
    cursor: default; }
  .breadcrumbs :last-child::after {
    content: ''; }
  @media (max-width: 768px) {
    .breadcrumbs {
      display: none; } }

.profile-detalis {
  position: relative;
  z-index: 2; }
  .profile-detalis p {
    width: 8em;
    height: 10em;
    position: absolute;
    padding: 1em;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-top: none; }

.profile-detalis__summary {
  display: unset;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.28px;
  color: #252f48;
  cursor: pointer; }
  .profile-detalis__summary ::marker {
    display: none; }
  .profile-detalis__summary p {
    max-width: 8.125rem; }
  .profile-detalis__summary::-webkit-details-marker {
    display: none; }
  .profile-detalis__summary::after {
    content: url(/img/summary.svg);
    margin-left: 0.375rem; }
  details[open] > .profile-detalis__summary::after {
    display: inline-block;
    transform: rotate(180deg); }

.header__profile {
  display: flex;
  justify-content: space-between;
  min-width: 9.125rem; }

.header__avatar {
  width: 15%;
  min-width: 1.375rem;
  margin-right: 0.563rem; }
  .header__avatar img {
    width: 100%; }

.logomenu-wrapp {
  display: none;
  justify-content: space-between;
  max-width: 40%; }
  @media (max-width: 768px) {
    .logomenu-wrapp {
      display: flex; } }

.header__burger {
  display: none;
  margin-right: 2rem; }
  @media (max-width: 768px) {
    .header__burger {
      display: block;
      position: relative;
      width: 2rem;
      height: 1.25rem; }
      .header__burger::before, .header__burger::after {
        content: '';
        background-color: #2a74db;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s; }
      .header__burger::before {
        top: 0; }
      .header__burger::after {
        bottom: 0; }
      .header__burger span {
        background-color: #2a74db;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px; } }

.header__burger_active {
  display: block;
  position: absolute;
  left: 1.563rem;
  width: 2rem;
  height: 1.25rem;
  z-index: 10; }
  .header__burger_active::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #d5e1f1; }
  .header__burger_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #d5e1f1; }
  .header__burger_active span {
    transform: scale(0); }

.phone-block__code {
  margin-right: 0.5rem; }

.select-with-img {
  display: none; }

.lang-select {
  position: relative; }

#a {
  padding-left: 0; }
  #a img {
    width: 0.75rem; }
  #a li {
    padding: 0.313rem 2.313rem 0.313rem 1.063rem;
    list-style: none;
    cursor: pointer; }
  #a li:hover {
    background-color: #f4f3f3; }
  #a li img {
    margin: 0.313rem 0; }
  #a li span,
  #a .btn-select li span {
    margin-left: 30px; }

#a img,
.btn-select img {
  width: 1.625rem; }

.b {
  position: absolute;
  display: none;
  width: 100%;
  top: 2.313rem;
  background-color: #fcfcfc;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  border-top: none;
  z-index: 2; }

.open {
  display: show !important; }

.btn-select {
  padding-right: 2.3rem;
  height: 2.5rem;
  background-color: #fcfcfc;
  border: 2px solid #f2f2f2;
  border-radius: 2px; }

.btn-select li {
  list-style: none;
  float: left;
  padding-left: 1rem; }
  .btn-select li ::after {
    position: absolute;
    content: url(/img/summary.svg);
    right: 0.75rem; }

.custom-select {
  margin-bottom: 1.563rem;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #f2f2f2;
  font-family: Roboto;
  font-size: 0.875rem;
  letter-spacing: 0.28px; }
  .custom-select:focus {
    border-left: 2px solid #2a74db; }

.custom-select select {
  display: none; }

.select-selected {
  background-color: #fcfcfc;
  border-bottom: none; }

.select-selected:after {
  position: absolute;
  content: url(/img/summary.svg);
  right: 3%; }

.select-items div,
.select-selected {
  padding: 0 0.8125em;
  line-height: 2.5rem;
  cursor: pointer;
  user-select: none;
  height: 2.5rem; }

.select-items {
  width: 100%;
  position: absolute;
  background-color: #fcfcfc;
  top: 100%;
  left: -2px;
  right: 0;
  z-index: 99;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  border-top: none;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #f4f3f3; }

.result-block, .wrap-table-admin {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .result-block ::-webkit-scrollbar, .wrap-table-admin ::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem; }
  .result-block ::-webkit-scrollbar-track, .wrap-table-admin ::-webkit-scrollbar-track {
    background: #f5f7fa;
    border-radius: 50px; }
  .result-block ::-webkit-scrollbar-thumb, .wrap-table-admin ::-webkit-scrollbar-thumb {
    background: #e0e6f0;
    border-radius: 50px; }
  .result-block ::-webkit-scrollbar-thumb:hover, .wrap-table-admin ::-webkit-scrollbar-thumb:hover {
    background: #555; }

.calendar-icon {
  position: relative; }
  .calendar-icon::before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: url(/img/date-calendar.svg);
    width: 1rem;
    position: absolute;
    top: 0.25rem;
    left: 0.875rem;
    color: #999; }

.result-block {
  width: 100%;
  padding: 0.438rem 1.5rem 0; }
  @media (max-width: 720px) {
    .result-block {
      padding: 1.5rem 0; } }

.result-block__head {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.map-block {
  padding-right: 0; }

.people-bloc_icons {
  display: flex; }

.signal {
  padding-right: 23px; }

.sort {
  display: flex;
  margin-top: -3px; }
  .sort label {
    margin-right: 25px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05px; }

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #f0f1f3;
  border-radius: 50%; }

.container:hover input ~ .checkmark {
  background-color: #ccc; }

.container input:checked ~ .checkmark {
  background-color: #ffffff;
  box-shadow: 0px 1px 7px rgba(204, 202, 212, 0.58); }

.checkmark:after {
  content: '';
  position: absolute;
  display: none; }

.container input:checked ~ .checkmark:after {
  display: block; }

.container .checkmark:after {
  top: 4.6px;
  left: 4.6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0ad69c; }

.people-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 55vh;
  min-height: 420px;
  padding-left: 1rem;
  margin-top: 30px;
  overflow-y: auto; }

.card-one {
  flex-basis: 46%;
  min-width: 330px;
  min-height: 128px;
  display: flex;
  padding: 18px;
  margin-bottom: 18px;
  margin-right: 18px;
  background: #ffffff;
  outline: 1px solid rgba(237, 237, 237, 0.2);
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06); }

.card-one__photo {
  flex-basis: 27.5%; }
  .card-one__photo img {
    width: 100%;
    border-radius: 50%; }

.card-one__text {
  padding-left: 3%; }
  .card-one__text h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.05px;
    color: #01134e; }
  .card-one__text p {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #000000; }
  .card-one__text .card-one__line-name {
    font-weight: normal;
    color: #01134e; }
  @media (min-width: 1400px) {
    .card-one__text h3 {
      font-size: 1.1vw;
      line-height: 1.925vw; }
    .card-one__text p {
      font-size: 0.825vw;
      line-height: 1.125rem; } }
  @media (min-width: 1700px) {
    .card-one__text h3 {
      line-height: 2.5em; }
    .card-one__text p {
      line-height: 1.8em; } }

.card-one__location {
  display: block;
  position: relative;
  padding-left: 10px; }
  .card-one__location:before {
    position: absolute;
    content: url(/img/marker-map.svg);
    left: -1px;
    top: 1px;
    transform: scale(0.7); }

.card-one__stack a {
  font-weight: normal;
  color: #2a74db;
  padding-left: 6px; }

.wrapper {
  display: grid;
  min-height: 100vh; }

.admin-header {
  position: inherit;
  grid-area: head;
  padding-bottom: 23px;
  background: #ffffff;
  width: 99%;
  border-bottom: 1px solid #dae4f2;
  z-index: 4; }

.main {
  grid-area: main; }

.sidebar {
  grid-area: side;
  background: #01134e; }
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      z-index: 3;
      width: 80px;
      height: 100%;
      position: fixed;
      left: -80px;
      transition: left 0.3s; } }

.sidebar_active {
  left: 0;
  transition: left 0.3s; }

.grid-1col {
  grid-template: 'head' 'main';
  grid-template-rows: 60px auto; }

.grid-2col {
  grid-template: 'side head' 'side main';
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 8% auto; }
  @media (min-width: 1200px) {
    .grid-2col {
      grid-template-columns: 5.5% 1fr; } }
  @media (max-width: 768px) {
    .grid-2col {
      grid-template-columns: 0 1fr;
      grid-template-rows: 60px; } }

.grid-2col_active {
  grid-template-columns: 80px 1fr; }

.lg-form {
  width: 100%;
  min-height: 560px;
  padding: 3.7% 3.8%; }
  @media (min-width: 1200px) {
    .lg-form {
      max-width: 94%; } }
  @media (max-width: 768px) {
    .lg-form {
      max-height: none;
      min-height: auto;
      padding: 2%;
      padding-bottom: 1.5rem; } }

.main-lg {
  padding: 5%; }
  @media (min-width: 1100px) {
    .main-lg {
      padding: 4% 5% 5%; } }

@media (max-width: 768px) {
  .main-sm {
    padding: 5%; } }

.card-title {
  display: flex;
  margin: 28px 0 50px; }
  .card-title .card-title__link {
    text-align: center;
    flex-basis: 38%;
    padding-bottom: 1.1875em;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1875em;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-bottom: 2px solid #e9e9e9; }
    .card-title .card-title__link a {
      color: #ccd0dc; }
    @media (max-width: 1200px) {
      .card-title .card-title__link {
        flex-basis: 49%; } }
  .card-title .card-title__link_active {
    color: #01134e;
    border-bottom: 2px solid #2a74db; }

.card__content,
.card-search {
  display: flex; }

@media (max-width: 720px) {
  .card__content {
    flex-wrap: wrap;
    justify-content: center; } }

.fields-block {
  flex-basis: 57%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .fields-block {
      flex-basis: 75%;
      padding: 0 1.5rem; } }
  @media (max-width: 992px) {
    .fields-block {
      flex-basis: 100%; } }
  @media (max-width: 560px) {
    .fields-block {
      justify-content: center; } }

.block-narrow {
  flex-basis: 38%;
  min-width: 250px;
  border-right: 1px solid #e7eaf5;
  padding-right: 45px; }
  @media (max-width: 720px) {
    .block-narrow {
      flex-basis: 90%;
      padding-right: 0px;
      border-right: none; } }

.admin-field {
  width: 100%; }
  .admin-field input::placeholder {
    color: #35373b; }

.admin-field__code {
  flex-basis: 5rem; }
  .admin-field__code #turk {
    background-image: url(/img/flag-turkey.png);
    background-repeat: no-repeat;
    background-position: bottom 10px left 14px; }

.admin-field_right {
  margin-left: auto;
  width: auto; }

.phone-block {
  display: flex;
  justify-content: space-between; }

.fields-block__item {
  flex-basis: 47%;
  align-self: center; }
  @media (max-width: 560px) {
    .fields-block__item {
      flex-basis: 100%; } }

.card__input-title {
  display: block;
  width: 100%;
  padding-bottom: 0.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #546087; }

.country-selector {
  background-image: url(/img/marker-map.svg);
  background-repeat: no-repeat;
  background-position: bottom 0.875rem left 0.875rem;
  background-size: 0.6rem;
  padding-left: 25px !important; }
  .country-selector option {
    background-color: #fcfcfc; }

.profphoto-wrapp {
  width: 8.4rem;
  margin-right: 5%; }
  .profphoto-wrapp img {
    max-width: 100%;
    border-radius: 50%; }

.profphoto-wrapp__img {
  width: 8.4rem;
  margin: 0 auto; }
  @media (max-width: 720px) {
    .profphoto-wrapp__img {
      padding-bottom: 2rem; } }

.profphoto-wrapp__change {
  padding-top: 5%;
  padding-left: 0.875rem;
  cursor: pointer; }
  .profphoto-wrapp__change p {
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.28px;
    color: #35373b; }

.profphoto-wrapp__pen {
  display: inline-block;
  color: #2a74db;
  transform: rotate(133deg); }

.card__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: #01134e; }
  .card__link:hover {
    color: #2b58e9; }

#map {
  height: 440px;
  width: 100%;
  margin-top: 1.1rem; }

.map-block {
  padding-right: 0; }

.admin-block {
  position: relative;
  padding: 0 5.625rem 6rem 2rem; }
  @media (max-width: 768px) {
    .admin-block {
      padding: 0.5rem 1rem 2rem 1rem; } }

.search-table {
  padding-bottom: 0.688rem;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.search-table__ico {
  padding-right: 1.375rem; }

.search-table__input::placeholder {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.5px;
  color: #252f48;
  mix-blend-mode: normal;
  opacity: 0.2; }

.thegrid {
  display: grid;
  grid-template-columns: repeat(6, auto) 6%; }
  .thegrid .thegrid__head {
    border: none;
    padding: 0.813rem 0;
    background: #f5f7fa;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #01134e; }
    @media (max-width: 1200px) {
      .thegrid .thegrid__head {
        padding: 0.55rem 0.575rem 0.5rem;
        font-size: 0.55rem; } }
    @media (min-width: 1600px) {
      .thegrid .thegrid__head {
        font-size: 1.2rem; }
        .thegrid .thegrid__head select {
          font-size: 1.2rem; } }
  .thegrid .thegrid__first {
    padding-left: 1.875rem; }
  .thegrid .thegrid__cell {
    padding: 1.063rem 0;
    font-size: 0.875rem;
    vertical-align: top;
    font-weight: 300;
    line-height: 1rem; }
    .thegrid .thegrid__cell select {
      max-width: 6rem;
      font-family: Roboto;
      color: #222428;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1rem; }
      .thegrid .thegrid__cell select ::marker {
        color: blue;
        font-size: 1.2em; }
    @media (max-width: 1200px) {
      .thegrid .thegrid__cell {
        padding: 0.55rem 0.575rem 0.5rem;
        font-size: 0.675rem; }
        .thegrid .thegrid__cell select {
          font-size: 0.675rem; } }
    @media (min-width: 1600px) {
      .thegrid .thegrid__cell {
        font-size: 1.2rem; }
        .thegrid .thegrid__cell select {
          font-size: 1.2rem; } }
  .thegrid :nth-child(n + 15) {
    border-top: 1px solid #eef2f7; }
  .thegrid .thegrid__cell:nth-child(7n + 1) {
    border-left: 1px solid #dae4f2;
    padding-left: 1.875rem; }
    @media (max-width: 415px) {
      .thegrid .thegrid__cell:nth-child(7n + 1) {
        padding: 0.55rem 0.575rem 0.5rem; } }
  .thegrid .thegrid__cell:nth-child(7n + 7) {
    border-right: 1px solid #dae4f2;
    padding-right: 1.438rem;
    color: #a9afc5;
    cursor: pointer; }
    .thegrid .thegrid__cell:nth-child(7n + 7) p {
      border-bottom: none; }
      .thegrid .thegrid__cell:nth-child(7n + 7) p:hover {
        color: #01134e; }
    @media (max-width: 415px) {
      .thegrid .thegrid__cell:nth-child(7n + 7) {
        border-bottom: 2px solid #dae4f2; } }
  .thegrid :nth-last-child(-n + 7) {
    border-bottom: 1px solid #dae4f2; }
  .thegrid :first-child {
    border-top-left-radius: 4px; }
  .thegrid :nth-child(7) {
    border-top-right-radius: 4px; }
  .thegrid :nth-last-child(7) {
    border-bottom-left-radius: 4px; }
  .thegrid :last-child {
    border-bottom-right-radius: 4px; }
  @media (max-width: 768px) {
    .thegrid {
      grid-template-columns: repeat(6, auto) 6%;
      max-width: 600px;
      overflow-x: auto; } }
  @media (max-width: 415px) {
    .thegrid {
      max-height: 70vh;
      width: 98%;
      margin: 0 auto;
      padding-top: 0;
      text-align: center;
      box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
      outline: 1px solid rgba(237, 237, 237, 0.2);
      grid-template-columns: repeat(1, auto); }
      .thegrid .thegrid__cell:nth-child(7n + 1) {
        border-left: none;
        padding-left: 1.875rem; } }
    @media (max-width: 415px) and (max-width: 415px) {
      .thegrid .thegrid__cell:nth-child(7n + 1) {
        padding: 0.55rem 0.575rem 0.5rem; } }
  @media (max-width: 415px) {
      .thegrid .thegrid__cell:nth-child(7n + 7) {
        border-right: none;
        padding-right: 1.438rem;
        color: #a9afc5;
        cursor: pointer; }
        .thegrid .thegrid__cell:nth-child(7n + 7) p {
          border-bottom: none; }
          .thegrid .thegrid__cell:nth-child(7n + 7) p:hover {
            color: #01134e; } }
    @media (max-width: 415px) and (max-width: 415px) {
      .thegrid .thegrid__cell:nth-child(7n + 7) {
        border-bottom: 2px solid #dae4f2; } }
  @media (max-width: 415px) {
      .thegrid :nth-last-child(-n + 7) {
        border-bottom: none; }
      .thegrid :first-child {
        border-top-left-radius: 0; }
      .thegrid :nth-child(7) {
        border-top-right-radius: 0; }
      .thegrid :nth-last-child(7) {
        border-bottom-left-radius: 0; }
      .thegrid :last-child {
        border-bottom-right-radius: 0; }
      .thegrid .head:nth-child(7) {
        display: none; }
      .thegrid .table-admin__close {
        border-bottom: 1px solid #dae4f2; }
      .thegrid .thegrid__cell:nth-child(n + 1) {
        border-top: none;
        border-left: 1px solid #dae4f2;
        border-right: 1px solid #dae4f2; } }

.thegrid-select {
  border-radius: none;
  background-color: #ffffff;
  border-bottom: none !important; }

.wrapper-column {
  display: flex;
  flex-direction: column;
  text-align: center; }

.sidebar-logo {
  width: 42.5%;
  margin: 22% auto 0; }
  @media (max-width: 768px) {
    .sidebar-logo {
      display: none; } }

.sidebar-menu {
  margin-top: 95%; }

.sidebar-menu__item {
  width: 100%;
  margin-bottom: 35%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .sidebar-menu__item :hover {
    opacity: 1; }

.sidebar-menu__icon {
  width: 22%;
  margin: 0 auto;
  opacity: 0.38; }
  .sidebar-menu__icon img {
    width: 100%; }

.sidebar-menu__item_active {
  border-left: 4px solid #0ad69c; }
  .sidebar-menu__item_active .sidebar-menu__icon {
    opacity: 1; }

.circle {
  position: relative;
  width: 56.688rem;
  height: 56.688rem;
  padding: 4.875rem;
  background-color: rgba(254, 254, 254, 0.45);
  box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.13);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 3.625rem;
  margin-top: -7.125rem;
  z-index: 1; }

.circle__3 {
  width: 100%;
  height: 100%;
  padding: 4.375rem;
  background-color: rgba(251, 248, 248, 0.45);
  box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.36);
  border-radius: 50%;
  left: 0;
  right: 0;
  position: relative; }

.circle__2 {
  width: 100%;
  height: 100%;
  padding: 4.688rem;
  background-color: rgba(254, 254, 254, 0.54);
  box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.11);
  border-radius: 50%;
  left: 0;
  right: 0;
  position: relative; }

.circle__1 {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.54);
  box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.43);
  border-radius: 50%;
  left: 0;
  right: 0;
  position: relative; }

@media (max-width: 992px) {
  .circle {
    width: 600px;
    height: 600px; }
  .circle__3 {
    width: 100%;
    height: 100%;
    padding: 3.375rem;
    background-color: rgba(251, 248, 248, 0.45);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.36);
    border-radius: 50%;
    left: 0;
    right: 0;
    position: relative; }
  .circle__2 {
    width: 100%;
    height: 100%;
    padding: 3.688rem;
    background-color: rgba(254, 254, 254, 0.54);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.11);
    border-radius: 50%;
    left: 0;
    right: 0;
    position: relative; }
  .circle__1 {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.54);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.43);
    border-radius: 50%;
    left: 0;
    right: 0;
    position: relative; } }

@media (max-width: 768px) {
  .circle {
    position: fixed;
    left: -150px;
    right: -150px; } }

.circle__img {
  width: 33%;
  margin: 0 auto;
  padding-top: 15%; }
  .circle__img img {
    max-width: 100%; }

.circle__text {
  position: absolute;
  top: 50%;
  left: 9%;
  font-size: 3.625rem;
  font-family: 'Exo 2';
  font-style: normal;
  z-index: 2; }
  @media (max-width: 768px) {
    .circle__text {
      max-width: 280px;
      top: 53%;
      left: 27%; } }

.circle__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1em;
  line-height: 3.75rem;
  text-align: center;
  letter-spacing: 0.4px;
  color: #2a74db; }
  @media (max-width: 992px) {
    .circle__title {
      font-size: 0.7em; } }
  @media (max-width: 768px) {
    .circle__title {
      font-size: 0.5em;
      line-height: 2rem; } }

.circle__descr {
  font-style: normal;
  font-size: 0.5em;
  line-height: 1.813rem;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000000; }
  @media (max-width: 992px) {
    .circle__descr {
      font-size: 0.4em; } }
  @media (max-width: 768px) {
    .circle__descr {
      font-size: 0.3em;
      line-height: 1.75rem; } }

.sm-form {
  margin: auto;
  max-width: 39.5rem;
  margin-top: 8%;
  padding: 4.5rem 7.25rem 5rem; }
  @media (max-width: 768px) {
    .sm-form {
      max-width: auto;
      padding: 4.5rem 1.8rem 5rem; } }
  @media (max-width: 420px) {
    .sm-form {
      margin-top: 20%; } }

.sm-form__title {
  width: 100%;
  font-family: 'Exo 2';
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.125rem;
  text-align: left;
  padding-bottom: 2.625rem;
  color: #002396; }

.sm-form__title_dark {
  color: #01134e; }

.sm-form__content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-between; }

.sm-form__pass-help {
  width: 100%;
  padding: 0.875rem 0 0.938rem;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem; }
  .sm-form__pass-help a {
    color: #222428;
    text-decoration: none; }
  .sm-form__pass-help a:hover {
    text-decoration: underline;
    color: #002396; }

.confirm {
  padding: 2.313rem 0 1.438rem; }
  .confirm li {
    list-style-type: none;
    padding-bottom: 1.438rem; }
  .confirm li:last-child {
    padding-bottom: 0; }
  .confirm ul {
    margin-left: 0;
    padding-left: 0; }

.confirm__lable {
  display: block;
  position: relative;
  padding-left: 2.188rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1rem;
  letter-spacing: 0.28px; }
  .confirm__lable a {
    font-weight: 500;
    text-decoration: none; }
  .confirm__lable input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .confirm__lable .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.563rem;
    width: 1.563rem;
    border: 2px solid #f2f2f2;
    border-radius: 2px; }
  .confirm__lable input:checked ~ .checkmark {
    background-color: rgba(245, 247, 250, 0.5); }
  .confirm__lable .checkmark:after {
    content: '';
    position: absolute;
    display: none; }
  .confirm__lable input:checked ~ .checkmark:after {
    display: block; }
  .confirm__lable .checkmark:after {
    left: 0.438rem;
    top: 0.063rem;
    width: 0.313rem;
    height: 0.75rem;
    border: solid #0ad69c;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.g-recaptcha {
  margin-bottom: -1.563rem;
  transform: scale(0.692);
  transform-origin: 0;
  -webkit-transform: scale(0.692);
  transform: scale(0.692);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.pass-indicator {
  height: 0.375rem;
  display: flex;
  width: 100%;
  justify-content: inherit;
  margin: 0.438rem 0 22px; }
  .pass-indicator span {
    flex-grow: 1;
    max-width: 32%;
    border-radius: 2px;
    background: #ebeff3; }
  .pass-indicator .pass-indicator__red {
    background: #ff6359; }
  .pass-indicator .pass-indicator__orange {
    background: #ffb966; }
  .pass-indicator .pass-indicator__green {
    background: #38ecac; }

* {
  box-sizing: border-box; }

[type='checkbox'] {
  vertical-align: middle; }

body {
  background: #f9fafc;
  font-family: Roboto;
  color: #000000;
  letter-spacing: -0.05px; }

.content {
  position: relative;
  display: flex;
  min-height: 100%; }

.form {
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px; }

.m-0 {
  margin: 0 !important; }

.select {
  font-family: Roboto; }

.input-base,
.date-base,
.select-base {
  width: 100%;
  height: calc(2.5rem - 2px);
  margin-bottom: 1.5625em;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px #f2f2f2;
  border-radius: 2px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  text-align: left;
  color: #222428; }
  .input-base:focus,
  .date-base:focus,
  .select-base:focus {
    outline: none;
    border-left: 2px solid #2a74db; }

.input-base {
  padding: 0.4875em 0.8125em; }
  .input-base ::placeholder {
    color: rgba(135, 144, 167, 0.57); }

.select-base {
  padding: 7px 14px; }

.date-base {
  padding: 11px 39px 13px; }

.sm-form__content .input-base:last-of-type {
  margin-bottom: 0; }

.input-base_sm {
  flex-basis: 190px; }
  .input-base_sm :first-child {
    padding-right: 10px; }
  @media (max-width: 500px) {
    .input-base_sm {
      flex-basis: auto; } }

.btn {
  width: 188px;
  height: 43px;
  margin-left: auto;
  border: none;
  background: #0ad69c;
  border-radius: 2px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.4px;
  color: #ffffff;
  cursor: pointer; }
  .btn:hover {
    background: #0aa87b; }

.btn_lg {
  width: 100%;
  margin-top: 8px; }

.btn_todown {
  margin-top: 40px; }

.page-list {
  font-size: 20px;
  margin: 8% auto;
  line-height: 30px; }
  .page-list a:hover {
    background-color: #a1a1f3; }
